# Project - Exploring Weather Trends

## Objectives

Text here

## Project instructions

Your goal will be to create a visualization and prepare a write up describing the similarities and differences between global temperature trends and temperature trends in the closest big city to where you live. To do this, you’ll follow the steps below:

* Extract the data from the database. There's a workspace in the next section that is connected to a database. You’ll need to export the temperature data for the world as well as for the closest big city to where you live. You can find a list of cities and countries in the city_list table. To interact with the database, you'll need to write a SQL query.

    * Write a SQL query to extract the city level data. Export to CSV.
    * Write a SQL query to extract the global data. Export to CSV.
* Open up the CSV in whatever tool you feel most comfortable using. We suggest using Excel or Google sheets, but you are welcome to use another tool, such as Python or R.
* Create a line chart that compares your city’s temperatures with the global temperatures. Make sure to plot the moving average rather than the yearly averages in order to smooth out the lines, making trends more observable (the last concept in the previous lesson goes over how to do this in a spreadsheet).
* Make observations about the similarities and differences between the world averages and your city’s averages, as well as overall trends. Here are some questions to get you started.
    * Is your city hotter or cooler on average compared to the global average? Has the difference been consistent over time?
    * “How do the changes in your city’s temperatures over time compare to the changes in the global average?”
    * What does the overall trend look like? Is the world getting hotter or cooler? Has the trend been consistent over the last few hundred years?alhost/mydatabase

### Fetch the data

Fetch the data by connecting to the MySQL database

*Note*: This step is optional and it can be skipped as the data can be directly loaded from the *.csv* files

In [ ]:
from sqlalchemy import create_engine

%load_ext sql

%sql mysql+mysqldb://root:password@locInstructions

In [ ]:
%%sql
SELECT * from city_data;

In [14]:
import pandas as pd
import pymysql

connection = pymysql.connect(host='localhost', user='root', passwd='password', db='mydatabase')

city_data = pd.read_sql_query("SELECT * FROM city_data", connection)
print(city_data)

       year     city        country  avg_temp
0      1849  Abidjan  Côte D'Ivoire     25.58
1      1850  Abidjan  Côte D'Ivoire     25.52
2      1851  Abidjan  Côte D'Ivoire     25.67
3      1852  Abidjan  Côte D'Ivoire       NaN
4      1853  Abidjan  Côte D'Ivoire       NaN
...     ...      ...            ...       ...
71306  2009  Zapopan         Mexico     21.76
71307  2010  Zapopan         Mexico     20.90
71308  2011  Zapopan         Mexico     21.55
71309  2012  Zapopan         Mexico     21.52
71310  2013  Zapopan         Mexico     22.19

[71311 rows x 4 columns]